.typography {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, -apple-system, sans-serif;
}

// Regular variants
.regular_16 {
  font-size: 16px;
  font-weight: 400;
  line-height: auto;
}

.regular_14 {
  font-size: 14px;
  font-weight: 400;
  line-height: auto;
}

.regular_12 {
  font-size: 12px;
  font-weight: 400;
  line-height: auto;
}

.regular_10 {
  font-size: 10px;
  font-weight: 400;
  line-height: auto;
}

// Medium variants
.medium_16 {
  font-size: 16px;
  font-weight: 500;
  line-height: auto;
}

// Bold variants
.bold_24 {
  font-size: 24px;
  font-weight: 700;
  line-height: auto;
}

.bold_20 {
  font-size: 20px;
  font-weight: 700;
  line-height: auto;
}

.bold_16 {
  font-size: 16px;
  font-weight: 700;
  line-height: auto;
}

.bold_14 {
  font-size: 14px;
  font-weight: 700;
  line-height: auto;
}

.bold_12 {
  font-size: 12px;
  font-weight: 700;
  line-height: auto;
}
