.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
  border-right: 1px solid #e5e5e5;
}

.searchContainer {
  padding: 16px;
  border-bottom: 1px solid #e5e5e5;
  flex-shrink: 0;
}

.list {
  flex: 1;
  overflow-y: auto;
  min-height: 0;
}

.loadingState {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
