.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 32px;
  text-align: center;
}

.icon {
  font-size: 64px;
  margin-bottom: 16px;
  opacity: 0.5;
}

.title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #202224;
  margin: 0 0 8px 0;
}

.message {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #666c72;
  margin: 0;
  max-width: 300px;
}
